.sensor-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  flex: 1;
  min-width: 300px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sensor-card h4 {
  margin-bottom: 10px;
  font-weight: 600;
  color: #333;
}

.chart-container {
  width: 100%;
  height: 200px;
}
.sensor-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}
